doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
  body
    h2 Hello #{name}
    h4 You can make your bulk order now!
    a(href=action) Click this link to make bulk order
    p Or try to copy and paste this link to your browser: #{action}
